body{
    background-color: aqua;
}
h1{
    color: rgb(212, 133, 36);
}

.games{
    color: rgb(140, 0, 255);
}

button:hover{
    background-color: blue;
}
h2::first-letter{
    font-size: 30px;
}
::selection{
    background-color: black;
}
h1,h2{
    color: blue;
}