body{
    background-color: aqua;
}
h1{
    color: rgb(212, 133, 36);
}

.games{
    color: rgb(140, 0, 255);
}

button:hover{
    background-color: rgb(46, 46, 75);
}
h2::first-letter{
    font-size: 30px;
}
::selection{
    background-color: black;
}
h1,h2{
    color: blue;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
h1,h2{
    color: brown;
}
form {
    color: blueviolet;
}
button,input{

  color: blue;
}
div{
    width: 700px;
    height: 350px;
    background-color: coral;
}
#one{
    background-color: chartreuse;
   border-width: 3px;
   border-color: black;
   border-style: solid;
   border-left: aqua;
   box-sizing: border-box;
   border-radius: 10px;
   padding-bottom: 3px;
   padding-top: 10px;
   margin-bottom: 20px;
   margin-top: 20px;
}
#two{
    background-color: chocolate;
    border-width: 3px;
   border-color: black;
   border-style: dashed;
   border-right: blueviolet;
   box-sizing: border-box;
   border-radius: 10px;
   padding-top: 10px;
   margin-bottom: 20px;
   margin-top: 20px;
}
#three{
    background-color: cornsilk;
    border-width: 3px;
   border-color: black;
   border-style: solid;
   box-sizing: border-box;
   border-radius: 10px;
   padding-top: 10px;
   margin-bottom: 20px;
   margin-top: 20px;
      }
section{
 width:100%;
  height: 100%;
    }
div{
    width: 50%;
    height: 50%;
}  
#colorful{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.7);
}
